Goal of this notebook is to add additional features to our dataset.

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('/workspaces/Room_7_Bakery_Prediction/0_DataPreparation/0.2 Additional Data/complete_dataset_with_features.csv')
df['date'] = pd.to_datetime(df['date'])
df.dtypes

id                            float64
date                   datetime64[ns]
Warengruppe                   float64
umsatz                        float64
KielerWoche                   float64
Bewoelkung                    float64
Temperatur                    float64
Windgeschwindigkeit           float64
Wettercode                    float64
Is_Holiday                      int64
Day_Before_Holiday              int64
Day_After_Holiday               int64
Is_Vacation                     int64
Vacation_Type                  object
dtype: object

Adding day_of_the_week, month and is_weekend to the dataset.

In [9]:
# Add day_of_the_week (0=Monday, 6=Sunday)
df['day_of_the_week'] = df['date'].dt.dayofweek

# Add month (1-12)
df['month'] = df['date'].dt.month

# Add is_weekend (True for Saturday and Sunday)
df['is_weekend'] = df['day_of_the_week'].isin([5, 6])

# Display the first few rows to verify
df[['date', 'day_of_the_week', 'month', 'is_weekend']].head(10)

        date  day_of_the_week  month  is_weekend
0 2013-07-01                0      7       False
1 2013-07-01                0      7       False
2 2013-07-01                0      7       False
3 2013-07-01                0      7       False
4 2013-07-01                0      7       False
5 2013-07-02                1      7       False
6 2013-07-02                1      7       False
7 2013-07-02                1      7       False
8 2013-07-02                1      7       False
9 2013-07-02                1      7       False

Adding features for the weather data.
Namely 'Bewoelkung' and 'Wettercode'.