In [1]:
import pandas as pd

In [2]:
pd.read_csv("/workspaces/Room_7_Bakery_Prediction/0_DataPreparation/Data/complete_dataset.csv")

,id,date,Warengruppe,umsatz,KielerWoche,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode
0,1307015.0,2013-07-01,5.0,317.475875,NaN,6.0,17.8375,15.0,20.0
1,1307014.0,2013-07-01,4.0,65.890169,NaN,6.0,17.8375,15.0,20.0
2,1307012.0,2013-07-01,2.0,535.856285,NaN,6.0,17.8375,15.0,20.0
3,1307013.0,2013-07-01,3.0,201.198426,NaN,6.0,17.8375,15.0,20.0
4,1307011.0,2013-07-01,1.0,148.828353,NaN,6.0,17.8375,15.0,20.0
...,...,...,...,...,...,...,...,...,...
11159,1907303.0,2019-07-30,3.0,NaN,NaN,7.0,20.7375,8.0,61.0
11160,1907301.0,2019-07-30,1.0,NaN,NaN,7.0,20.7375,8.0,61.0
11161,1907305.0,2019-07-30,5.0,NaN,NaN,7.0,20.7375,8.0,61.0
11162,1907304.0,2019-07-30,4.0,NaN,NaN,7.0,20.7375,8.0,61.0
11163,1907302.0,2019-07-30,2.0,NaN,NaN,7.0,20.7375,8.0,61.0