In [16]:
import pandas as pd

In [17]:
pd.set_option('display.width', 1000)

In [18]:
df = pd.read_csv("/workspaces/Room_7_Bakery_Prediction/0_DataPreparation/Data/complete_dataset.csv")

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11164 entries, 0 to 11163
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11164 non-null  float64
 1   date                 11164 non-null  object
 2   Warengruppe          11164 non-null  float64
 3   umsatz               9334 non-null   float64
 4   KielerWoche          268 non-null    float64
 5   Bewoelkung           11029 non-null  float64
 6   Temperatur           11083 non-null  float64
 7   Windgeschwindigkeit  11083 non-null  float64
 8   Wettercode           8502 non-null   float64
dtypes: float64(8), object(1)
memory usage: 785.1+ KB
None

In [23]:
print(df.head())
print("\n")
print(df.tail())

          id        date  Warengruppe      umsatz  KielerWoche  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
0  1307015.0  2013-07-01          5.0  317.475875          NaN         6.0     17.8375                 15.0        20.0
1  1307014.0  2013-07-01          4.0   65.890169          NaN         6.0     17.8375                 15.0        20.0
2  1307012.0  2013-07-01          2.0  535.856285          NaN         6.0     17.8375                 15.0        20.0
3  1307013.0  2013-07-01          3.0  201.198426          NaN         6.0     17.8375                 15.0        20.0
4  1307011.0  2013-07-01          1.0  148.828353          NaN         6.0     17.8375                 15.0        20.0


              id        date  Warengruppe  umsatz  KielerWoche  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
11159  1907303.0  2019-07-30          3.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11160  1907301.0  2019-07-30          1.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11161  1907305.0  2019-07-30          5.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11162  1907304.0  2019-07-30          4.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11163  1907302.0  2019-07-30          2.0     NaN          NaN         7.0     20.7375                  8.0        61.0

In [24]:
print(pd.unique(df['Wettercode']))
print(pd.unique(df['KielerWoche']))

[20. nan 61.  5. 21. 65. 63. 95.  0. 10. 28. 73. 22. 45. 69. 77. 71. 49.
 75. 53. 79.  3. 68. 17. 55.]
[nan  1.]

In [25]:
print(df.tail(100))

              id        date  Warengruppe  umsatz  KielerWoche  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
11064  1907115.0  2019-07-11          5.0     NaN          NaN         7.0     17.6125                  6.0        53.0
11065  1907113.0  2019-07-11          3.0     NaN          NaN         7.0     17.6125                  6.0        53.0
11066  1907114.0  2019-07-11          4.0     NaN          NaN         7.0     17.6125                  6.0        53.0
11067  1907111.0  2019-07-11          1.0     NaN          NaN         7.0     17.6125                  6.0        53.0
11068  1907112.0  2019-07-11          2.0     NaN          NaN         7.0     17.6125                  6.0        53.0
...          ...         ...          ...     ...          ...         ...         ...                  ...         ...
11159  1907303.0  2019-07-30          3.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11160  1907301.0  2019-07-30          1.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11161  1907305.0  2019-07-30          5.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11162  1907304.0  2019-07-30          4.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11163  1907302.0  2019-07-30          2.0     NaN          NaN         7.0     20.7375                  8.0        61.0

[100 rows x 9 columns]

In [26]:
# Show all rows where 'umsatz' column has missing values
missing_umsatz = df[df['umsatz'].isna()]
print(f"Number of rows with missing 'umsatz' values: {len(missing_umsatz)}")
print("\nRows with missing 'umsatz' values:")
print(missing_umsatz)

Number of rows with missing 'umsatz' values: 1830

Rows with missing 'umsatz' values:
              id        date  Warengruppe  umsatz  KielerWoche  Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode
9334   1808011.0  2018-08-01          1.0     NaN          NaN         0.0     23.7625                 10.0         0.0
9335   1808012.0  2018-08-01          2.0     NaN          NaN         0.0     23.7625                 10.0         0.0
9336   1808013.0  2018-08-01          3.0     NaN          NaN         0.0     23.7625                 10.0         0.0
9337   1808015.0  2018-08-01          5.0     NaN          NaN         0.0     23.7625                 10.0         0.0
9338   1808014.0  2018-08-01          4.0     NaN          NaN         0.0     23.7625                 10.0         0.0
...          ...         ...          ...     ...          ...         ...         ...                  ...         ...
11159  1907303.0  2019-07-30          3.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11160  1907301.0  2019-07-30          1.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11161  1907305.0  2019-07-30          5.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11162  1907304.0  2019-07-30          4.0     NaN          NaN         7.0     20.7375                  8.0        61.0
11163  1907302.0  2019-07-30          2.0     NaN          NaN         7.0     20.7375                  8.0        61.0

[1830 rows x 9 columns]